

/* FORMULARIO (crear_persona.php) */



legend{
    text-align: center;
    color: teal;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
}
fieldset{
    padding: 5%;
    border-color: teal;
    box-shadow: 1px 1px 1px gray;
}
form{
    margin: 0 auto;
    padding: 5%;
    border: 4px outset teal;
    background-color: silver;
}
form label{
    color: teal;
    font-weight: bold;
}
form input{
    border: 1px solid teal;
}
form tr{
    margin-top: 1%;
}
form table{
    width: 100%;
}
form button{
    background-color: teal;
    float: right;
    color: white;
    font-weight: bold;
    padding: 2%;
    border: 2px solid
}
form button:hover{
    color: white;
    background-color: dimgray;
    box-shadow: 4px 2px 1px teal;

}
